<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KLKA DRIVE</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon-16x16.png" />
    <link rel="manifest" href="../static/site.webmanifest" />
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2" defer></script>
    <script src="../static/js/index.js" defer></script>
    <script src="../static/js/auth.js" defer></script>
  </head>
  <body>
    <div class="container">
      <h2>KLKA DRIVE</h2>
      <hr />
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
